<div class="search-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-1-12 search-page-sections">
        <div class="col-lg-3 playlist-section">
          <div class="context-playlist">
            <img src="">
            <span class="title-playlist">Friday</span>
            <span class="track-playlist">87 músicas</span>
          </div>
        </div>
        <div class="col-lg-6 tracks-section">

          <div class="search-bar-section">
            <input class="search-bar" type="text" name="search" placeholder="&#61442;  Pesquisar">
          </div>
          <div class="tracks">

            <!-- *ngFor="let track of tracks | filter:searchText" -->
            <div class="track-item">
              <span class="snipet-green"></span>
              <div class="left-track">
                <h3>Music Name Track</h3>
                <span class="artist-track">MC Khevin</span>
              </div>
              <div class="right-track">
                <span class="time">3:33</span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-3 profile-section">
          <div class="infos-profile">
            <img src="">
            <div class="text-profile">
              <span class="title-name">Khevin Nogueira</span>
              <span class="tag-text">khevin nogueira</span>
              <span class="pipe">|</span>
              <span class="tag-text"> follows: 77</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>