<div class="home-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-1-12">

        <img src="../../assets/spotfy-logo.png" class="base-fundo">
        <img src="../../assets/spotfy-logo.png" class="logo-page">
        <div class="d-1">
          <h1> Musica para todos</h1>
          <p>Milhões de Músicas à sua escolha. E nem precisa de cartão de Crédito</p>
          <a class="btn-green" [routerLink]="['profile']">Conectar com Spotify</a>
        </div>

      </div>
    </div>
  </div>